.container {
    width: 1000px;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    border: 1px solid black;
    border-top: none;
    padding: 5px 15px;
    background: rgb(94, 165, 255);
    color: white;
}

.content {
    padding: 15px;
}

.mainTitle {
    display: inline-block;
}

.addPost {
    background: rgb(94, 165, 255);
    color: white;
    border: 1px solid black;
    width: 130px;
    height: 30px;
    font-size: 15px;
    margin-left: 80%;
}

.post {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    margin: 10px 0;
}

.postImg {
    width: 20%;
}

.shortInfo {
    width: 80%;
}

.postBottom {
    display: flex;
}

.date {
    width: 40%;
    color: grey;
}

.fullPostLink {
    width: 27%;
    color: #0000FF;
    text-decoration: underline;
    border: none;
    background: none;
    font-size: 15px;
}

.deleteCommBtn {
    display: block;
    margin-left: auto;
    color: #0000FF;
    text-decoration: underline;
    border: none;
    background: none;
    font-size: 15px;
}

.deletePostBtn {
    text-align: right;
    width: 33%;
    border: none;
    background: none;
    font-size: 15px;
    text-decoration: underline;
}

.img {
    border: 1px solid black;
    width: 70px;
    height: 70px;
    display: block;
}

.newsTitle,
.inputFileLabel,
.newsPost {
    display: block;
    resize: none;
    margin: 10px auto;
    width: 300px;
}

.newsTitle {
    height: 25px;
}

.newsPost {
    height: 200px;
}

.inputFileLabel {
    height: 20px;
    font-size: 15px;
    border: 1px solid darkgray;
    color: darkgray;
}

.chooseImage {
    display: none;
}

.savePost,
.addCommentBtn {
    display: block;
    margin: 0 auto;
    background: rgb(94, 165, 255);
    color: white;
    border: 1px solid black;
    width: 80px;
    height: 25px;
    font-size: 15px;
}

.backButton {
    display: block;
    margin: 15px 0 0;
    background: rgb(94, 165, 255);
    color: white;
    border: 1px solid black;
    width: 80px;
    height: 25px;
    font-size: 15px;
}

.labelForImage {
    text-align: center;
    margin-bottom: 0;
}

.postImage {
    width: 200px;
    height: 200px;
}

.comment {
    width: 96.8%;
    border: 1px solid black;
    padding: 0 15px 10px;
    margin: 10px 0;
}

.authorsName,
.authorsComment {
    display: block;
    width: 400px;
    margin: 10px auto;
    resize: none;
}

.authorsComment {
    height: 50px;
}

.addComment {
    border-top: 1px solid black;
    padding-top: 10px;
    width: 100%;
}